.jumbotron{
    margin-bottom: 0px;
    background-color: #efefef;
}

.grid-holder {
    margin-left: 50px;
}

.row-holder {
    box-sizing: border-box;
    width: 600px;
}

.letter-holder {
    box-sizing: border-box;
    float: left;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
}

.grid-letter {
    align-content: center;
    text-align: center;
    background-color: transparent;
    height: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

.grid-number {
    position: absolute;
    top: 0px;
    left: 2px;
    font-size: .7em;
}

.clue:hover {
    background-color: gray;
}

.clicked-clue:hover {
    cursor: default;
}

.page-title {
    font-family: 'Zilla Slab', serif;
    letter-spacing: 3px;
    text-transform: uppercase; 
    font-weight: bold; 
}

#headline{
    font-family: 'Prata', serif;
    /* text-transform: capitalize; */
    text-align: center;
    font-size: 28px;
    padding: 8px;
}

#crossword{
    padding: 5px;
}

#crossword-and-hints {
    margin-bottom: 10em;
}

#signs-div {
 text-align: center;
    
}

.sign-dates{

    font-style: italic;
}

.sign-btn {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    align-content: center;

}

.modal-trigger {
    color: black;
}

.modal-trigger:hover {
    color: white;
}

#modal-horoscope .modal-content{
    width: 50%;
    height: 100%;
    /* float: right; */
}
#card-img-hor {
max-height: 440px;
}

.sign-img {
    margin-bottom: 10px;
    vertical-align: middle;
    border-style: none;
    padding-top: 10px;
}

#sign-row1 {
margin-top: 30px;
}

#sign-row2 {
margin-bottom: 60px;
}

.date-row {
    width: 90%;
}

#index-bg{
    background: url("../images/indexbg.jpg");
}

#crossbg{
    background: url("../images/crossword.jpg");
}

#weather-bg{
    background: url("../images/weather1.png");
}

#horoscope-bg{
    background: url("../images/horoscope.jpg");
}

#article-bg{
    background: url("../images/article.jpg");
}

footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    position: fixed;
    width: 100%;
    margin: 0px;
    padding: 5px 0px 5px 0px;
}

#footer1{
    border-top: 5px solid #ffffff;
}

#footer2{
    border-top: 5px solid seagreen;
}

#footer3{
    border-top: 5px solid #01579b;
}

#footer4{
    border-top: 5px solid #79543a;
}

.card{
    margin-bottom: 100px;
}
#weather-display{
    border:2px solid black;
    padding:40px;
    margin:30px auto;
    background: white;
    width:70%;
}

#weather-icon>img{
    width:200px;
}

.icon {
    float: left;
    display: inline-block;
    margin-right: 30px;
}

.weather {
    font-size: 20px;
    text-align: justify;
}

#hint-modal {
    position: absolute;
    right: 10px;
    width: 75%;
    height: 350px;
    bottom: 600px;
}

#hint-modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#guess-input {
    width: 60%;
}

#guess-input #modal-guess {
    position: relative;
    top: 100px;
}

@media only screen and (max-width: 1360px){
    
}

@media only screen and (max-width: 1280px){
    
}

@media only screen and (max-width: 980px){
    
}

@media only screen and (max-width: 480px){
    .grid-letter {
        font-size: 1em;
    }
}
