
.grid-holder {
    margin-left: 50px;
}

.row-holder {
    width: 600px;
}

.letter-holder {
    float: left;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
}

.grid-letter {
    /* align-content: center; */
    text-align: center;
    background-color: transparent;
    height: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

.grid-number {
    position: absolute;
    top: 0px;
    left: 2px;
    font-size: .7em;
}

.clue:hover {
    background-color: gray;
}

.page-title {
    font-family: 'Vidaloka', serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#headline{
    font-family: 'Vidaloka', serif;
    text-transform: uppercase;
    font-weight: bold;
}
