.jumbotron{
    margin-bottom: 0px;
}
.grid-holder {

}

.row-holder {
    width: 600px;
}

.letter-holder {
    float: left;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border: 1px solid black;
}


.clue:hover {
    background-color: gray;
}

.page-title {
    font-family: 'Vidaloka', serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#headline{
    font-family: 'Vidaloka', serif;
    text-transform: uppercase;
    font-weight: bold;
}

#crossword{
    margin-left: 50px;
}
