.jumbotron{
    margin-bottom: 0px;
    background-color: #efefef;
}


.page-title {
    font-family: 'Vidaloka', serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #efefef;
    
}

.grid-holder {
    margin-left: 50px;
}

.row-holder {
    width: 600px;
}

.letter-holder {
    float: left;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
}

.grid-letter {
    /* align-content: center; */
    text-align: center;
    background-color: transparent;
    height: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

.grid-number {
    position: absolute;
    top: 0px;
    left: 2px;
    font-size: .7em;
}

.clue:hover {
    background-color: gray;
}

<<<<<<< HEAD
.page-title {
    font-family: 'Vidaloka', serif;
    letter-spacing: 3px;
    text-transform: uppercase;  
}
=======
>>>>>>> 3934a6580046f19d7ea4ba0a467d37d4ae06eaa3

#headline{
    font-family: 'Vidaloka', serif;
    text-transform: uppercase;
    font-weight: bold;
}

#crossword{
    margin-left: 50px;
}

#signs-div {

}
.sign-dates{
    font-style: italic;
}
.sign-btn {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    align-content: center;

}
.sign-img {
    margin-bottom: 10px;
    vertical-align: middle;
    border-style: none;
    padding-top: 10px;
}

#index-bg{
    background: url("../images/indexbg.jpg");
}

#weather-bg{
    background: url("../images/weather1.png");
}

#horoscope-bg{
    background: url("../images/horoscope.jpg");
}

#crossword-and-hints {
    margin-bottom: 10em;
}

footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    position: fixed;
    width: 100%;
    margin: 0px;
    border-top: 5px solid #4db6ac;
    padding: 20px 0px 5px 0px;
}